body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.red-suit {
  color: red;
}

.Foundation, .Tableau {
  display: inline-block;
  border: solid 1px gray;
  height: 160px;
  width: 100px;
  margin: 10px;
  text-align: center;
}